body{
  margin: 0 auto;
  margin-top:0 !important;
}
* {
  box-sizing: border-box;
}
.main-container{
  margin:0 auto;
  height: 100vh;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(0, 110, 189, 0.8) 100%), url("../img/bg-container.jpg");
}
.form-menu{
  margin-top:20px;
  margin-left:auto;
  margin-right:auto;
  background-color: #ffe2d9;
  padding:20px;
}
.form{
  margin
}
input[type=text], select, textarea {
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=text]:disabled {
  background-color: #dedede;
}
input[type=submit] {
  background-color: #000675;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:right;
  margin-top:7px;
}
.input-stacc{
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
.input-stacc:focus{
   background-color: lightblue;
   width:75%;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.container-fluid {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 45%;
  margin-top: 6px;
}
.col-25-rev {
  float: right;
  width: 25%;
  margin-top: 6px;
}

.col-75-rev {
  float: right;
  width: 45%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.daterange{

}
.maintitle{
  padding-top:30px;
  text-align: center;
  color:white;
  margin-bottom:20px;
}
.smooth{
  opacity:0.75;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
.smooth:hover{
  visibility: visible;
  opacity: 1;
}
.staccskjema{
  width:60%;
  margin-right:-400px !important;
  float:left;
}

.right-list{
  padding:20px;
}
.faktatekst{
font-size:1.1rem;
}
.rangetext{
  font-size:1.0rem;
  color: rgba(191, 52, 10, 0.95);

}
#faktaboks-right{

}


.canvas-container{
  width:45%;
  height:50%;
  float:right;
}
.warningtext{
  color:#f54e42;
  font-size:1.1rem;
}
.warningtext2{
color:  #f0a946
}
.faktaboks-container{
  vertical-align: middle;
  height:auto;;
  position:relative;
  display:none;
}
.faktaheader{
  color: #de3700;
  font-size:1.2rem;
  font-family: "Helvetica", sans-serif;
}
.faktaboks{
  margin-top:25px;
  margin-left:50px;
  width:50%;
  float:left;
  position:relative;
  text-align: right;

}
.faktaboks-right{
  margin-top:100px;
  width:25%;
  float:left;

}
.slider-container{
  width:300px;
  height:auto;
  float:right;
  margin-left:-300px !important;
}
.column{
  background-color: #b5d3ff;
  float:left;
  width:250px;
  margin-top:20px;
  margin-left:100px;
  margin-right:100px;
  border-radius:10px;
  padding:10px;
  font-size:0.8rem;
  height:160px;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.lanheader{
  font-size: 2.4rem;
  color:#964400;
  font-family: "Helvetica", sans-serif;
}
@media only screen and (max-width: 900px) {
  .staccskjema{
    width:100%;
  }
  .col-25{
    width:30%;
  }
  input[type=text], select, textarea {
    width: 80%;
    margin-left:50%;
  }
  input[type=range] {
    margin-left:90%;
  }
  .input-stacc:focus{
     background-color: lightblue;
     width:100%;
  }
  .canvas-container{
    position:relative;
    float:right;
    display:none;
  }
  .lanheader{
    font-size:1.7em;
  }
  .faktaheader{
    font-size:1.3em;
  }
  .faktatekst{
    font-size:1.1em;
  }
  .column{
    margin-left:20px;
  }
}
